.App {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.cell {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cell svg {
    height: 90px;
    width: 90px;
}
.cell._1,
.cell._7 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.cell._4 {
    border: 2px solid black;
}
.cell._3,
.cell._5 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}